<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathmato - High Scores</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
    <script src="https://kit.fontawesome.com/35e096853f.js" crossorigin="anonymous"></script>
    <script src="display.js"></script>
</head>

<body>
    <%- include('nav'); %>
        <main>
            <header>
                <h1>High Scores</h1>
            </header>
            <h2>Six Equations</h2>
            <br>
            <div class="highscore-grid">
                <div class="highscore-info">
                    <p>Position</p>
                    <p>Name</p>
                    <p>Score</p>
                    <p>Date</p>
                </div>
                <% data.forEach((highScore, index)=> { %>
                    <div class="highscore-container">
                        <div>
                            <p><%-index + 1 %></p>
                            <p><%-highScore.name %></p>
                            <p><%-highScore.score %></p>
                            <p><%-highScore.date %></p>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </main>
        <%- include('footer'); %>
</body>

</html>